
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lora&family=Michroma&family=Playfair+Display&display=swap');

* {
    background-color:rgb(49, 31, 6);
}

h1 {
    color: rgb(123, 73, 4);
    font-family: "Comic Neue", cursive;
    font-weight: 700;
}

h2 {
    color: rgb(142, 98, 37);
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: right;
}

#bounceText {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    position: absolute;
    font-size: 60px;
}

#bounceText:hover {
    text-decoration: line-through;
}